@model IEnumerable<HastaneRandevuSistemi.Models.Doktor>


@{
    ViewData["Title"] = "Index";
}

<h5>@TempData["msj"]</h5>
<h5>@ViewBag.msj</h5>
<h4>Doktorlar</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th>
        </tr> 
    </thead>
    <tbody>
        @{var i = 1;}
        @foreach (var x in Model)
        {

            <tr>
                <th>@i</th>
                @{i++;}
                <td>@x.DoktorAd</td>
                <td>@x.DoktorSoyad</td>
                <td><a href="/Doktor/DoktorDuzenle/@x.DoktorID" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a></td>
                <td><a href="/Doktor/DoktorSil/@x.DoktorID" class="btn btn-outline-danger"><i class="bi bi-x"></i></a></td>
                <td><a href="/Doktor/RandevuGetir/@x.DoktorID" class="btn btn-secondary">Randevular</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Doktor/DoktorEkle" class="btn btn-primary">Yeni Doktor Ekle</a>