@model IEnumerable<Randevu>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
}

<h5>@TempData["msj"]</h5>
<h5>@ViewBag.msj</h5>
<h4>@Localizer["Doktorlar"]</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@Localizer["Gün"]</th>
            <th scope="col">@Localizer["Saat"]</th>
            <th scope="col">@Localizer["Doktor Adı"]</th>
            <th scope="col">@Localizer["Poliklinik"]</th>
            <th scope="col">@Localizer["Hastane"]</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
        }
        @foreach (var x in Model)
        {

            <tr>
                <th>@i</th>
                @{
                    i++;
                }
                <td>@x.RandevuGun</td>
                <td>@x.RandevuSaat</td>
                <td>@x.Doktor.DoktorAd @x.Doktor.DoktorSoyad</td>
                <td>@x.Poliklinik.PoliklinikAd</td>
                <td>@x.Hastane.HastaneAd</td>
                <td><a href="/Randevu/RandevuDuzenle/@x.RandevuID" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a></td>
                <td><a href="/Randevu/RandevuSil/@x.RandevuID" class="btn btn-outline-danger"><i class="bi bi-x"></i></a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Randevu/RandevuEkle" class="btn btn-primary">@Localizer["Yeni Randevu Ekle"]</a>