@model IEnumerable<HastaneRandevuSistemi.Models.Hastane>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Hastaneler";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h5>@TempData["msj"]</h5>
<h5>@ViewBag.msj</h5>
<h4>@Localizer["Hastaneler"]</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@Localizer["Hastane Adı"]</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
        }
        @foreach (var x in Model)
        {

            <tr>
                <th>@i</th>
                @{
                    i++;
                }
                <td>@x.HastaneAd</td>
                <td><a href="/Home/PoliklinikGetir/@x.HastaneID" class="btn btn-secondary">@Localizer["Poliklinikler"]</a></td>
            </tr>
        }
    </tbody>
</table>